
@font-face {
 font-family: 'Share Tech', sans-serif;
  src: url('../fonts/ShareTech-Regular.ttf')s;

  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'Share Tech', sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */

/* CUSTOM RESETS
================================================== */
a {
    transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
}

a:focus,
a:hover {
    outline: 0 none;
    text-decoration: none;
}

h4 {
    font-size: 30px;
}

/* Buttons */ 
.btn {
    min-width: 145px;
    line-height: 60px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    transition: box-shadow 0.25s ease-in-out;
    -moz-transition: box-shadow 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    -o-transition: box-shadow 0.25s ease-in-out;
    -ms-transition: box-shadow 0.25s ease-in-out;
}

.btn-fill {
    color: rgb(121, 182,222);
    background-color: rgb(4,42,69);
    font-size: 20px;
    border-radius: 100px;
}

.btn-border {
    background-color: transparent;
    color: rgb(4,42,69);
    font-size: 20px;
   font-family: 'Share Tech', sans-serif;
    border-radius: 100px;
    border: 1px solid rgb(4,42,69); 
}

.btn-fill:hover,
.btn-fill:focus {
    color: #fff;
}

.btn:hover,
.btn:focus {
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.15);
}

.btn-skill{
    font-size: 25px;
    border-radius: 100px;
    line-height: 40px;
    
}
/* Input fields */
.form-control {
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #212121;
    border-radius: 0;
    background-color: white; 
    box-shadow: none;
    outline: 0 none transparent;
    -webkit-appearance:none;
    color: black;
 }

textarea {
    margin-top: 40px;
    min-height: 200px;
    resize: none;
    color: black;
}

.form-control:focus {
    box-shadow: none;
    border-bottom-color: #e1e1e1;
    color: black;
}

::-moz-placeholder,
::-webkit-input-placeholder {
    font-size: 16px;
    color: black;
}

/* LAYOUT
================================================== */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
    font-size: 16px;
    color:rgb(4,42,69);
}

.img-res {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.img-res2{
    display: block;
   
    
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.visible-xxs {
    display: none;
}


/* HEADER
================================================== */
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(121, 182,222);
    z-index: 5;
}

.site-logo img {
    padding-bottom: 2px;
}

/* Navigation */
.navbar-nav > li > a {
    padding: 5px 0;
    font-weight: 600;
    font-size: 20px;
    color: rgb(4,42,69);
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-color 0.25s ease-in-out;
    -moz-transition: border-color 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out;
    -o-transition: border-color 0.25s ease-in-out;
    -ms-transition: border-color 0.25s ease-in-out;
}

.navbar-nav.navbar-right {
    margin-right: 0;
}

.navbar-nav > li + li > a {
    margin-left: 40px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.active > a,
.nav > li > a:hover,
.nav > li.active > a {
    background-color: transparent;
    border-bottom: 2px solid rgb(4,42,69);
}

.nav > li > a:focus {
    background-color: transparent;
}

/* HERO
================================================== */
.hero { 
    background: url(../img/zenbu.jpg) no-repeat center / cover; 
    height: 60%;
    width: 100%;
    min-height: 700px;
    overflow: hidden;
}

.hero .container {
    position: relative;
    height: 100%;
}

.hero .col-md-6:first-child {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
}

.hero .col-md-6:last-child {
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
}

.hero h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.job-title {
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 1;
} 

.hero img {
    position: relative;
    right: 320px;
    top: 168px;
    height: 600px;
}

/* SITEMAIN
================================================== */
.site-main {
    position:relative;
    background-color: rgb(121, 182, 222);
    z-index: 1;
}
/* site-section */
.site-section {
   padding-top: 120px;
}

.site-section h2,
.site-section h3 {
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
}

.img-lines {
    margin: 15px 0 40px;
    width: 100px;
}
.section-about{
    padding-bottom: 100px;
}
.site-section p {
    margin-bottom: 35px;
    font-size: 30px;
}

/* Section: Skills */
.section-skills {
    padding-bottom: 120px;
}

.skill + .skill {
    margin-top: 20px;
    
}

.skill h4 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 0 0;
   
    
}


/* Section: Services */
.section-services {
    position: relative;
    padding-top: 220px;
}

.section-services:before {
    content: '';
    background: url(../img/elektrik.jpg) no-repeat fixed center / cover;
    width: 100%;
    height: 400px; 
    position: absolute;
    left: 0;
    top: 0;
}

.overlay:after {
    content: '';
    width: 100%;
    height: 400px; 
    position: absolute;
    background-color: rgba(4,42,69,0.5);
    top: 0;
    left: 0;
    z-index: 0;
}

.section-services .container {
    padding: 120px 100px;
    position: relative;
    background-color: rgb(121, 182, 222);
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.service h4 {
    margin-bottom: -10px ;
    font-size: 24px;
    font-weight: 700;
}
.service h5{
    font-size: 16px;
    
}

.service p {
    color: rgb(4,42,69);
    margin-bottom: 0;
    font-size: 20px;
}

/* Section: Portfolio */
.section-portfolio {
    padding-bottom: 120px;
}

.portfolio-item {
    height: 300px;
    margin-bottom: 30px;
    position: relative;
}

.section-portfolio .col-md-4:nth-last-child(-n+3) .portfolio-item {
    margin-bottom: 0;
}

.portfolio-item:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
}

.portfolio-item:hover:before{
    background-color: rgba(33,33,33,0.6);
}

.portfolio-item-info {
    position: absolute;
    top: 150px;
    left: 0px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}

.portfolio-item:hover .portfolio-item-info {
    left: 50px;
    opacity: 1;
}

.portfolio-item-info h4 {
    margin: 0 0 20px;
    font-weight: 700;
    color: rgb(121, 182, 222);
}

.portfolio-item-info a {
    padding: 6px 7px 4px;
    font-size: 20px;
    border: 1px solid rgb(121, 182, 222);
    border-radius: 50px;
    color: rgb(121, 182, 222);
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.portfolio-item-info a:hover {
    color: #212121;
    background-color: #fff;
}

.section-portfolio .btn {
    margin-top: 10px;
}

/* Modal */
.icon1 {
width: 100px;
height: 100px;
}
.modal {
    z-index: 9999;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    position: relative;
    padding: 0;
    height: 500px;
}

.modal-header .close {
    position: absolute;
    right: 0;
    padding: 10px 11px;
    margin-top: 0;
    background-color: #fff;
    font-size: 16px;
    color: rgb(4,42,69);
    border-left: 1px solid rgb(4,42,69);
    border-bottom: 1px solid rgb(4,42,69);
    opacity: 1;
    transition: box-shadow 0.25s ease-in-out;
    -moz-transition: box-shadow 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    -o-transition: box-shadow 0.25s ease-in-out;
    -ms-transition: box-shadow 0.25s ease-in-out;
}

.modal-header .close:hover {
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
}

.modal-body h4 {
    font-weight: 700;
}
.modal-body h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}
.modal-footer {
    text-align: center;
}

/* Section: Counters */


/* Section: Form*/
.section-services1 {
    position: relative;
    padding-top: 220px;
}

.section-services1:before {
    content: '';
    background: url(../img/embed.jpg) no-repeat fixed center / cover;
    width: 100%;
    height: 400px; 
    position: absolute;
    left: 0;
    top: 0;
}

.overlay:after {
    content: '';
    width: 100%;
    height: 400px; 
    position: absolute;
    background-color: rgba(4,42,69,0.5);
    top: 0;
    left: 0;
    z-index: 0;
}

.section-services1 .container {
    padding: 120px 100px;
    position: relative;
    background-color: rgb(121, 182, 222);
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.service1 h4 {
    text-align: left;
    margin-bottom: 60px;
    font-size: 40px;
    
}
.service1 h5{
    font-size: 16px;
    
}

.service1 p {
    color: rgb(4,42,69);
    margin-bottom: 0;
    font-size: 20px;
}

/* FOOTER    width: 100%;
    overflow: hidden;
}
================================================== */
.footer { 
    background-color: rgb(4,42,69);
    padding-bottom: 10px;
    
}
.footer .column p{
    padding-right: 20px;
    padding-left: 5px;
}
.footer p{
    color: rgb(121, 182, 222);
}
.footer .column{
    display: flex;
    
    align-items: center;
}
.icons {
    width: 40px;
    height: 40px;
}
.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github{
      font-size: 40px !important;
      color:rgb(121, 182, 222); 
      position:relative;
      top: 9px;
      right: 9px;
  }

.tex{
    margin: 0px !important;
    height: 100%;

}
.copy{
    margin: 0px;
    font-size: 20px;
}
.footer a {
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.textt{
    padding-left: 68px;
}